{% extends 'base.html' %}
{% load static %}

{% block titleblock %}
    <title>{{ object.name }}</title>
    <style>
        body {
            background-color: #e2e8f0;
        }
    </style>
{% endblock %}

{% block mainblock %}
    <div class="row g-2">

        <!-- Profile picture and bio section -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ object.picture }}" class="rounded-circle">

                        <div class="mt-3">
                            <h4>{{ object.name }}</h4>

                            <p class="text-secondary mb-1">{{ object.student_id }}</p>
                            <p class="text-muted font-size-sm">{{ object.student_id }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile picture and bio section end-->


            <!--Social Media link section -->

            <div class="card mt-3">
                <div class="list-group list-group-flush">

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">LinkedIn</h6>
                        <a class="btn btn-outline-primary fab fa-linkedin"
                           href="{{ object.link.linkedIn }}"></a>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Github</h6>
                        <a class="btn btn-outline-primary fab fa-github"
                           href="{{ object.link.github }}"></a>
                    </li>

                    {% if object.link.facebook %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Facebook</h6>
                            <a class="btn btn-outline-primary fab fa-facebook"
                               href="{{ object.link.facebook }}"></a>
                        </li>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% if not form.name.value %}
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    {#                                <div class="mb-3">#}
                                    {#                                    {{ form.name.label }}#}
                                    {#                                    {{ form.name }}#}
                                    {#                                    {{ form.name.value }}#}
                                    {#                                </div>#}
                                    {#                                <div class="mb-3">#}
                                    {#                                    {{ form.link.label }}#}
                                    {#                                    {{ form.link }}#}
                                    {#                                </div>#}

                                    {% for field in form %}
                                        {% if not field.is_hidden %}
                                            <p>{{ field.label_tag }} {{ field }}</p>
                                        {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </form>

                </div>
            </div>
        </div>

        <!--Social Media link section end-->

        <!--User details section-->

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ object.name }}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ object.email }}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">ID</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ object.student_id }}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Position</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ object.club_role }}
                        </div>
                    </div>
                    <hr>

                    {% if request.user == object %}
                        <a class="btn btn-info" href="{% url 'user:details' %}">Edit Profile</a>
                    {% endif %}
                </div>
            </div>

            <!--User details section end-->


            <!--Experience and work details-->

            <div class="row g-2">
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3">Experience and Work
                                <i class="text-info ms-2">project</i></h6>

                            <div class="d-flex justify-content-between align-items-center flex-wrap mb-2">
                                <small class="text-wrap" style="width: 18rem;">Project Name</small>
                                <button class="btn btn-outline-primary fas fa-link"></button>
                            </div>

                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <small class="text-wrap" style="width: 18rem;">Project name</small>
                                <a class="btn btn-outline-primary fas fa-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Experience and work details end-->


                <!--Skill testing-->

                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3">Skill and Experience
                                <i class="text-info ms-2">strength</i></h6>

                            <div class="d-flex flex-row justify-content-center">
                                <h6 class="text-info fs-1 p-4">Coming Soon</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Skill testing-->

            </div>
        </div>
    </div>

{% endblock %}